# OS
.DS_Store

# Editors
.idea/
.vscode/

# Environment
.env
.env.*

# Logs
*.log

# Dependencies
node_modules/
vendor/

# Build outputs
dist/
build/
out/
tmp/
bin/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Go
*.test
coverage.out
*.db
